* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    color: #333;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), 
    url(images/banner.jpg) center/ cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;


}
.navbar {
    background: #232a34;
    padding: 1.2rem;
}
.navbar-brand {
    color: #fff;
    font-size: 24px;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar-nav {
    text-align: center;
    padding: 0.8rem 0;

}

.navbar-nav a{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;


}
.navbar-nav a:hover {
    color: coral;
}
.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title {
    font-size: 3rem;
    line-height: 1.2;

}
.banner p {
    padding: 3rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;

}
.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input {
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-btn {
    width: 40px;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}